:root {
  --font-family-main: 'Inter', 'Times New Roman', serif;

  --font-size-12: 12px;
  --font-line-12: 14px;
  --font-12: var(--font-size-12) / var(--font-line-12) var(--font-family-main);

  --font-size-16: 16px;
  --font-line-16: 20px;
  --font-16: var(--font-size-16) / var(--font-line-16) var(--font-family-main);

  --font-size-18: 18px;
  --font-line-18: 22px;
  --font-18: var(--font-size-18) / var(--font-line-18) var(--font-family-main);

  --font-size-20: 20px;
  --font-line-20: 26px;
  --font-20: var(--font-size-20) / var(--font-line-20) var(--font-family-main);

  --font-size-22: 22px;
  --font-line-22: 28px;
  --font-22: var(--font-size-22) / var(--font-line-22) var(--font-family-main);

  --font-size-24: 24px;
  --font-line-24: 32px;
  --font-24: var(--font-size-24) / var(--font-line-24) var(--font-family-main);

  // z - Индексы
  --modal-z-index: 1000;
  --overlay-z-index: 100;

  // Размеры
  --size-sidebar: 340px;
  --app-gap: 10px;

  // Размеры нижняя очередь
  --close-bottom-queue-height: 86px;
  --open-bottom-queue-height: 562px;
  --size-queue-btn-width: 74px;

  // Размеры боковая очередь
  --side-queue-padding-xxl: 68px;
  --side-queue-padding: 20px;
}
