.sidebar {
  height: 100vh;
  width: var(--size-sidebar-xl);
  position: fixed;
  right: 0;

  @include xxl {
    width: var(--size-sidebar);
  }
}

.relativeSidebar {
  position: initial;
}

.btn {
  margin-top: 20px;
}

.items {
  padding: 18px 20px 0;
}
