:root {
    /* Бэкграунд градиент */
    --main-gradient: linear-gradient(180deg,
            #1B0C3B 0%,
            #270E59 10%,
            #381186 20%,
            #791FB4 40%,
            #BC26A0 60%,
            #C01A57 75%,
            #921C4B 90%,
            #20084A 100%);
    /* Header */
    --color-header-bg: #0D0719;
    --color-header: #FFF5EB;
    /* Colors */
    --color-secondary: #FFA448;
    --color-secondary-2: #7700FF;
    --color-primary: #18181B;
    /* waves */
    --color-wave-1: #EB7003;
    --color-wave-2: #E10741;
    --color-wave-3: #C9006E;
    --color-wave-4: #B000B9;
    --color-wave-5: #8801BC;
    --color-wave-6: #6500BE;
    --color-wave-7: #3900BE;
    --color-wave-8: #1C2ACD;
    --color-wave-9: #0151DB;
    --color-wave-10: #0171DB;
    /* categories */
    --color-category-new: var(--color-wave-2);
    --color-category-next-up: var(--color-wave-1);
    --color-category-finished: var(--color-wave-9);
    --color-category-future: var(--color-wave-5);
    --color-category-frozen: #4E4C55;
}

body {
    color: #ffff;
    margin: 0;
    min-height: 100vh;
    background: var(--main-gradient);
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    /* ширина сайта */
    margin: 0 auto;
    /* центрируем по горизонтали */
    padding: 20px;
    /* внутренние отступы */
}