:root {
  --text-color: #fff;
  --bg-color: #0b0b0b;
  --accent-bg-color: #18181b;
  --gradient-bg-color: linear-gradient(180deg, #37373d 0%, #222226 100%);
  --gradient-accent-bg-color: linear-gradient(90deg, #37373d 0%, #222226 100%);
  --inactive-color: #4e4c55;

  --orange: #eb7003;
  --deep-orange: #e63e20;
  --magenta: #e10741;
  --magenta-pink: #c9006e;
  --deep-magenta: #b000b9;
  --purple: #8801bc;
  --violet: #6500be;
  --neon-indigo: #70f;
  --nickel: #3900be;
  --deep-blue: #1c2acd;
  --sky-blue: #0151db;
  --cyan-blue: #0171db;
  --light-gray: #61616b;
  --dark-gray: #212126;
  --gray: #aaaaaa;

  --violet-gradient: linear-gradient(180deg, #8a38f5 0%, rgba(138, 56, 245, 0) 100%);

  --error-color: #f03;
  --overlay-color: rgba(0 0 0 / 60%);
}
