.wrapper {
  background: var(--bg-color);
  height: 128px;
  padding: 20px 38px 20px var(--side-queue-padding);
  position: fixed;
  top: 0;

  @include xxl {
    padding: 20px var(--side-queue-padding-xxl);
  }
}

.row {
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

