.wrapper {
  background: var(--bg-color);
  height: 102px;
  padding: 14px 38px 10px var(--side-queue-padding);
  position: fixed;
  top: 0;
  z-index: var(--overlay-z-index);

  @include xxl {
    padding: 14px var(--side-queue-padding-xxl);
  }
}

.row {
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

