.card {
  max-width: 374px;
  transition: height 0.3s ease-in;
  width: calc(33.3% - 10px);
  height: var(--close-bottom-queue-height);

  @include xxl {
    width: calc(25% - 15px);
  }

  @include xxxl {
    width: calc(20% - 16px);
  }

  &:hover {
    transition: 0.2s ease-in height;
    height: calc(var(--close-bottom-queue-height) + 30px);
  }
}

.open {
  height: var(--open-bottom-queue-height);
  z-index: var(--modal-z-index);
  transition: height 0.2s linear;

  &:hover {
    transition: height 0.2s linear;
    height: var(--open-bottom-queue-height);
  }
}

.iconWrapper {
  position: absolute;
  bottom: 30px;
  left: -14px;
}
