.card {
  max-width: var(--card-max-width);
  transition: height 0.3s ease-in;
  width: calc(33.3% - 21px);
  height: var(--close-bottom-queue-height);

  @include xxl {
    width: calc(25% - 16px);
  }

  @include xxxl {
    width: calc(20% - 12px);
  }

  &:hover {
    transition: 0.2s ease-in height;
    height: calc(var(--close-bottom-queue-height) + 30px);
  }
}

.open {
  z-index: var(--modal-z-index);
  transition: height 0.2s ease-out;

  &:hover {
    transition: height 0.2s ease-out;
  }
}

.overOverlay {
  z-index: var(--over-overlay-z-index);
}

.iconWrapper {
  position: absolute;
  bottom: 30px;
  left: -14px;
}
