.icon {
  color: var(--text-color);
  transition: opacity 0.1s linear;

  &.hover {
    &:hover {
      opacity: 0.7;
    }
  }
}

.button {
  background: none;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

.pointer {
  cursor: pointer;
}
