.stream {
  background: var(--accent-bg-color);
  height: calc(100% - var(--close-bottom-queue-height) - var(--app-gap));
  position: relative;
  width: 100%;
  z-index: 1;
}

.twitchPlayer {
  width: 100%;
  height: 100%;
  border: none;
}

