.modal {
  height: 100%;
  max-width: 1020px;
  padding: 0;
  position: relative;
  width: 50%;
}

.container {
  margin-top: var(--side-queue-header-height);
  padding-bottom: var(--side-queue-header-height);;
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-color: var(--accent-bg-color) var(--bg-color);
  scrollbar-width: thin;
}
