.root {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;

    padding-top: 18px;

}

.list {
    display: flex;
    gap: 16px;
    padding: 8px 16px 24px;
    overflow: visible;
}


.card {
    position: relative;
    min-width: 260px;
    max-width: 280px;
    height: 150px;

    border-radius: 10px 0 10px 10px;
    background: #181818;
    border: none;

    padding: 20px 16px 16px;
    color: #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);

    overflow: visible;
    box-sizing: border-box;
    z-index: 1;
}


.cardFirst::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;

    height: 6px;
    background: var(--accent-color);
    border-radius: 10px 10px 0 0;

    z-index: -1;
}




.tab {
    position: absolute;
    right: 0;
    top: -18px;

    display: inline-block;
    z-index: 5;
}

/* тонкая полоска сверху */
.colorTop {
    position: absolute;
    top: -6px;
    /* насколько она вылезает вверх */
    left: 0;
    right: 0;

    height: 6px;
    /* ТОНКОСТЬ ПОЛОСЫ — вот это меняешь */
    background: var(--accent-color);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -1;
}

/* тонкая вертикальная полоса слева */
.colorLeft {
    position: absolute;
    top: 0;
    bottom: 3px;
    left: -6px;
    /* насколько вылезает влево */

    width: 6px;
    /* ТОНКОСТЬ вертикальной полосы */
    background: var(--accent-color);

    z-index: -1;
}

/* чёрный таб */
.tabInner {
    position: relative;
    z-index: 1;

    padding: 4px 12px 5px;
    background: #181818;

    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 8px 8px 0 0;
}



.pointer {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;

    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #000;
    opacity: 0.7;
}