.wrapper {
  bottom: 0;
  flex-shrink: 0;
  position: fixed;
  width: calc(100% - var(--size-sidebar) - var(--app-gap));
  z-index: 2;
}

.cardsRow {
  width: calc(100% - var(--size-queue-btn-width) - 20px);
}