.category {
}

.btn {
  padding: 0 4px;
  white-space: nowrap;
}

.square {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  width: 50px;
  user-select: none
}

.rectangle {
  scroll-margin-top: 120px;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-weight: 600;
  height: 34px;
  justify-content: center;
  width: 120px;
  user-select: none
}

.magenta {
  background: var(--magenta);
}

.orange {
  background: var(--orange);
}

.sky-blue {
  background: var(--sky-blue);
}

.violet {
  background: var(--violet);
}

.inactive-color {
  background: var(--inactive-color);
}
