.category {
}

.btn {
  padding: 0 4px;
  white-space: nowrap;
  height: 28px;
  width: 146px;
  font: var(--font-12);
}

.square {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  width: 40px;
  user-select: none;

  &.fullHeight {
    height: auto;
  }
}

.rectangle {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-weight: 600;
  justify-content: center;
  width: 90px;
  user-select: none
}

.magenta {
  background: var(--magenta);
}

.magenta-pink {
  background: var(--magenta-pink);
}

.deep-magenta {
  background: var(--deep-magenta);
}

.orange {
  background: var(--orange);
}

.cyan-blue {
  background: var(--cyan-blue);
}

.sky-blue {
  background: var(--sky-blue);
}

.deep-blue {
  background: var(--deep-blue);
}

.nickel {
  background: var(--nickel);
}

.violet {
  background: var(--violet);
}

.purple {
  background: var(--purple);
}

.inactive-color {
  background: var(--inactive-color);
}
